@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 206, 227, 233;
  --background-rgb: 31, 38, 50;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply text-base;
}
